<div class="container-fluid mt-5 "> 
<h3 class="mt-4 text-center">{body.title}</h3>
<div class="row  "></div>
<div class="table-responsive col-10 offset-1">
                      <table class="table tablesorter " id="plain-table">
                        <thead class=" text-primary">
                          <tr>
                            <th class="header">
                              title
                            </th>
                            <th class="header">
                              price
                            </th>
                            <th class="header">
                              quantity
                            </th>
                            <th class="header">
                              add/remove
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                        
                        
                        
                        </tbody>
                      </table>
                    </div>
</div>
</div>