<div class="page-header header-filter">
      <div class="squares square1"></div>
      <div class="squares square2"></div>
      <div class="squares square3"></div>
      <div class="squares square4"></div>
      <div class="squares square5"></div>
      <div class="squares square6"></div>
      <div class="squares square7"></div>
      <div class="container">
        <div class="content-center brand">
          <h1 class="h1-seo">{globals.appName}</h1>
          <h3> Make an order and your stomach will be full before you even notice</h3>
          <a href="account/login" class="btn btn-primary btn-simple btn-round">Login</a>
          <a href="account/create" class="btn btn-primary btn-round" >Sign Up</a>
        </div>
      </div>
    </div>